@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal; }

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal; }

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; }

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal; }

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal; }

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal; }

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic; }

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic; }

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic; }

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic; }

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic; }

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'roboto' !important; }

.navbar-color {
  background-color: #04231d;
  padding: 30px; }

.nav-link {
  color: white; }

.custom-link {
  /* color activo */
  color: #FFD101 !important; }

/* para que no se cambie la tipografia cuando esta activo */
.navbar-nav .nav-item .nav-link.active {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal; }

/* fondo para todos los botones en estado de hover */
.navbar-color .btn-outline-success:hover {
  background-color: #FFD101;
  /* Cambia el color de fondo al hacer hover */ }

/*  texto y borde */
.navbar-color .btn-outline-success:hover {
  color: #fff;
  border-color: #FFD101; }

/* color de fondo para todos los enlaces del menú en estado de hover */
.navbar-color .nav-link:hover {
  color: #FFD101; }

.social {
  position: fixed;
  top: 450px;
  display: flex;
  flex-direction: column;
  z-index: 10; }
  .social .redes {
    /*!redes en vertical*/
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin: 10px 20px 10px 10px; }

/*!grupo de propiedades siempre iguales*/
main .cardsindex .flextitulo, main .cardsindex .flexcardpadre, main div .flexproyecto, main section .contenedor-otro .contenedor-galeria-otro, .maincontacto .containerform, .maincontacto .containerform .contact-form .form-group .service-chips {
  display: flex;
  flex-wrap: wrap; }

main div section video {
  width: 100%;
  /* Ajusta el ancho de la imagen */
  height: 600%;
  /* Ajusta el alto de la imagen */ }

main .cardsindex {
  padding: 50px; }
  main .cardsindex .flextitulo {
    /* titulo de seccion */
    color: #04231d;
    /*variable*/
    font-family: 'roboto';
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    /* Permite que los elementos hijos se envuelvan */ }
    main .cardsindex .flextitulo h2 {
      font-size: 40px;
      font-weight: bold; }
    main .cardsindex .flextitulo h4 a {
      text-decoration: none;
      color: #04231d;
      /*variable*/
      margin: 5px; }
  main .cardsindex .flexcardpadre {
    /* Estilos para el contenedor de las tarjetas */
    justify-content: space-between;
    /* Estilos para las tarjetas */ }
    main .cardsindex .flexcardpadre .flexcardhijo {
      /* Estilos generales de las tarjetas */
      border: 2px #04231da1 solid;
      border-radius: 10px;
      width: 500px;
      height: 600px;
      text-align: center;
      margin: 20px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      main .cardsindex .flexcardpadre .flexcardhijo img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: auto; }
      main .cardsindex .flexcardpadre .flexcardhijo a {
        text-decoration: none;
        color: #04231d; }
      main .cardsindex .flexcardpadre .flexcardhijo h5 {
        margin: 5px; }
      main .cardsindex .flexcardpadre .flexcardhijo p {
        margin: 10px; }
      main .cardsindex .flexcardpadre .flexcardhijo .tag-container {
        padding: 10px; }
        main .cardsindex .flexcardpadre .flexcardhijo .tag-container .tag {
          display: inline-block;
          background-color: #18330d;
          color: #ffffff;
          padding: 13px;
          border-radius: 20px;
          margin: 10px; }

main div .flextituloproyecto {
  color: #04231d;
  margin: 0 30px 20px 30px;
  padding: 20px;
  /* Espaciado interno */
  border-radius: 10px;
  text-align: center;
  max-width: 1000px;
  /* Ancho máximo */
  margin-left: auto;
  /* Margen izquierdo automático */
  margin-right: auto;
  /* Margen derecho automático */ }

main div .flexproyecto {
  gap: 20px;
  /* Espacio entre las cards */
  margin: 30px; }
  main div .flexproyecto .card {
    background-color: #fff;
    /* Color de fondo de la card */
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra */
    padding: 20px;
    /* Espaciado interno */
    width: calc(33.33% - 20px);
    text-decoration: none;
    color: #04231d;
    align-items: center;
    /* Ancho de la card, calculado para que haya 3 cards por fila */
    /* Ajusta el ancho según la resolución de la pantalla */ }
    @media (max-width: 768px) {
      main div .flexproyecto .card {
        width: calc(50% - 20px);
        /* Ancho de la card */ } }
    @media (max-width: 480px) {
      main div .flexproyecto .card {
        width: 100%;
        /* Ancho de la card */ } }
    main div .flexproyecto .card img {
      width: 100%;
      /* Imagen ocupa todo el ancho de la card */
      border-radius: 10px;
      /* Borde redondeado */ }
    main div .flexproyecto .card h5 {
      margin-top: 10px;
      /* Espaciado superior para el título */ }
    main div .flexproyecto .card p {
      margin-top: 10px;
      /* Espaciado superior para el párrafo */
      text-align: center; }
    main div .flexproyecto .card .tag-container {
      padding: 5px;
      text-align: center; }
      main div .flexproyecto .card .tag-container .tag {
        display: inline-block;
        background-color: #18330d;
        color: #ffffff;
        padding: 9px;
        border-radius: 10px;
        margin: 5px;
        font-size: 70%; }

main section .contenedor-otro {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0; }
  main section .contenedor-otro h2 {
    text-align: center;
    font-weight: 700;
    color: #04231d;
    margin-bottom: 40px;
    font-size: 40px; }
  main section .contenedor-otro p {
    text-align: center; }
  main section .contenedor-otro .contenedor-galeria-otro {
    justify-content: space-evenly; }
    main section .contenedor-otro .contenedor-galeria-otro .img-galeria-otro {
      object-fit: cover;
      width: 30%;
      margin-bottom: 15px;
      box-shadow: 0 0 6px rgba(17, 17, 17, 0.5);
      cursor: pointer; }
      main section .contenedor-otro .contenedor-galeria-otro .img-galeria-otro:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.1); }

.maincontacto {
  margin: 10px;
  padding: 55px;
  color: #04231d;
  display: flex;
  /* Para usar flexbox y dividir horizontalmente */
  justify-content: space-between;
  /* Para distribuir los elementos en los extremos */
  height: 100vh;
  /* ocupa toda la altura de la ventana */ }
  .maincontacto .containerform {
    width: 45%;
    /* El formulario ocupa la mitad del ancho de la ventana */
    background-color: #fff; }
    .maincontacto .containerform .feedback {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .maincontacto .containerform .contact-form {
      width: 100%;
      /* Ajusta el ancho del formulario al 100% */
      /* Ajusta el ancho del formulario */
      padding-bottom: 30px;
      /* Espacio entre formulario y mapa */ }
      .maincontacto .containerform .contact-form .form-group {
        margin: 15px 0px 15px 0px; }
        .maincontacto .containerform .contact-form .form-group .service-chips {
          gap: 10px;
          /* Espacio entre los chips */ }
        .maincontacto .containerform .contact-form .form-group .service-chips label {
          display: inline-block;
          padding: 8px 16px;
          border: 1px solid #ccc;
          border-radius: 20px;
          cursor: pointer; }
      .maincontacto .containerform .contact-form .btn-enviar {
        background-color: #04231d;
        /* Color de fondo del botón */
        color: #fff;
        /* Color del texto del botón */
        padding: 10px 20px;
        /* Ajusta el espacio interno del botón */
        margin-top: 20px;
        /* Ajusta el espacio externo del boton */
        border-radius: 5px;
        /* Añade bordes redondeados al botón */
        cursor: pointer;
        /* Cambia el cursor al pasar sobre el botón */ }
      .maincontacto .containerform .contact-form .btn-enviar:hover {
        background-color: #FFD101;
        /* Cambia el color de fondo al pasar sobre el botón */ }
  .maincontacto iframe {
    width: 45%;
    /* Ancho del mapa */
    height: 700px;
    /* Ajusta la altura del mapa */
    border: none;
    margin-top: 10px;
    /* Espacio superior del mapa */
    margin-left: auto;
    /* Centra horizontalmente */
    margin-right: auto;
    /* Centra horizontalmente */ }

.container {
  margin: 10px; }
  .container h1 {
    text-align: center; }
  .container .skills-section {
    width: 300px;
    margin: 0 auto; }
    .container .skills-section ul {
      list-style-type: none;
      padding: 0; }
      .container .skills-section ul li {
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px; }
        .container .skills-section ul li .skill-name {
          margin-bottom: 5px; }
        .container .skills-section ul li .progress-bar {
          /* barra de progreso */
          background-color: #4caf50;
          height: 20px;
          border-radius: 5px; }

footer {
  background-color: #04231d;
  /*variable*/
  padding: 50px 100px 50px 100px;
  color: white;
  font-style: normal;
  margin: auto;
  /*para que se mantenga centrado*/
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  footer div {
    /*logo*/
    text-align: start; }
  footer div p {
    padding: 10px 0px 10px 0px; }
  footer div a {
    /*!grupo variable*/
    font-style: normal;
    color: white;
    text-decoration: none;
    display: block;
    /* Convertir en bloque */
    padding: 10px 0px 10px 0px; }
    footer div a i {
      padding: 5px 5px 5px 0px; }
  footer .fixed {
    /* para que el logo de wsp siempre este en el costado */
    position: fixed;
    bottom: 15px;
    /*margen*/
    right: 15px;
    /*margen*/ }

@media screen and (max-width: 902px) {
  .flextitulo {
    /* titulo de seccion */
    color: #04231d;
    font-family: 'roboto';
    font: bold 300%;
    margin: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan */ }
  .flextitulo h4 a {
    text-decoration: none;
    color: #04231d;
    margin: 5px;
    font-size: medium;
    align-self: flex-end; }
  .flexcardpadre {
    /* contenedor de las cards */
    display: flex;
    /* Asegura que los elementos .flexcardhijo estén uno al lado del otro */
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
    flex-direction: column; }
  .flexcardhijo img {
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    /* Establece el ancho al 100% del contenedor */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */ }
  .flexcardhijo {
    /* cards individuales */
    border: 2px rgba(4, 35, 29, 0.63) solid;
    border-radius: 10px;
    max-width: 400px;
    /* un ancho máximo */
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* sombra */
    display: flex;
    flex-direction: column; }
  .flexcardhijo p {
    padding: 10px; } }

@media screen and (max-width: 580px) {
  .flextitulo {
    /* titulo de seccion */
    color: #04231d;
    font-family: 'roboto';
    font: bold 300%;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan */
    align-self: flex-end; }
  .flextitulo h4 a {
    text-decoration: none;
    color: #04231d;
    margin: 5px;
    font-size: medium; }
  .flexcardpadre {
    /* contenedor de las cards */
    display: flex;
    /* Asegura que los elementos .flexcardhijo estén uno al lado del otro */
    flex-direction: row;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */ }
  .flexcardhijo img {
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    /* Establece el ancho al 100% del contenedor */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */ }
  .flexcardhijo {
    border: 2px rgba(4, 35, 29, 0.63) solid;
    border-radius: 10px;
    max-width: 400px;
    /* un ancho máximo */
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* sombra */
    display: flex;
    flex-direction: column;
    align-items: center; }
  .flexcardhijo p {
    padding: 10px; } }

@media screen and (max-width: 785px) {
  footer {
    background-color: #04231d;
    padding: 30px 30px;
    color: white;
    font-style: normal;
    margin: auto;
    /*para que se mantenga centrado*/
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  footer div p {
    padding: 10px 0px 10px 0px; }
  footer div {
    text-align: start; }
  footer div a {
    text-decoration: none;
    color: white;
    display: block;
    /* Convertir en bloque */
    padding: 10px 0px 10px 0px; }
  footer div a i {
    padding: 5px 5px 5px 0px; }
  footer div h3 {
    padding: 30px 0px 0px 0px; } }
