@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal; }

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal; }

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; }

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal; }

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal; }

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal; }

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic; }

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic; }

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic; }

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic; }

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic; }

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'roboto'; }

.navbar-color {
  background-color: #04231d;
  padding: 30px; }

.nav-link {
  color: white; }

.custom-link {
  color: #86b8ae !important; }

/* para que no se cambie la tipografia cuando esta activo */
.navbar-nav .nav-item .nav-link.active {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal; }

.social {
  position: fixed;
  top: 450px;
  display: flex;
  flex-direction: column; }
  .social .redes {
    /*!redes en vertical*/
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin: 10px 20px 10px 10px; }

main div section video {
  width: 100%;
  /* Ajusta el ancho de la imagen */
  height: 600%;
  /* Ajusta el alto de la imagen */ }

main div .flextitulo {
  /* titulo de seccion */
  color: #04231d;
  /*variable*/
  font-family: 'roboto';
  font: bold 300%;
  margin: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Permite que los elementos hijos se envuelvan */ }
  main div .flextitulo h2 {
    font-size: 40px;
    font-weight: bold; }
  main div .flextitulo h4 a {
    text-decoration: none;
    color: #04231d;
    /*variable*/
    margin: 5px; }

main div .flexcardpadre {
  /* contenedor de las cards */
  display: flex;
  /* Asegura que los elementos .flexcardhijo estén uno al lado del otro */
  justify-content: space-evenly;
  /* Distribuye los elementos horizontalmente */
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */ }
  main div .flexcardpadre .flexcardhijo {
    border: 2px #04231da1 solid;
    border-radius: 10px;
    max-width: 400px;
    /* un ancho máximo */
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* sombra */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    main div .flexcardpadre .flexcardhijo img {
      margin-bottom: 5px;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      /* Establece el ancho al 100% del contenedor */
      height: auto;
      /* Permite que la altura se ajuste automáticamente para mantener la proporción */ }
    main div .flexcardpadre .flexcardhijo p {
      padding: 10px; }

footer {
  background-color: #04231d;
  /*variable*/
  padding: 50px 100px 50px 100px;
  color: white;
  font-style: normal;
  margin: auto;
  /*para que se mantenga centrado*/
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  footer div {
    text-align: start; }
  footer div p {
    padding: 10px 0px 10px 0px; }
  footer div a {
    text-decoration: none;
    color: white;
    display: block;
    /* Convertir en bloque */
    padding: 10px 0px 10px 0px; }
    footer div a i {
      padding: 5px 5px 5px 0px; }
  footer .fixed {
    /* para que el logo de wsp siempre este en el costado */
    position: fixed;
    bottom: 15px;
    /*margen*/
    right: 15px;
    /*margen*/ }

@media screen and (max-width: 902px) {
  .flextitulo {
    /* titulo de seccion */
    color: #04231d;
    font-family: 'roboto';
    font: bold 300%;
    margin: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan */ }
  .flextitulo h4 a {
    text-decoration: none;
    color: #04231d;
    margin: 5px;
    font-size: medium;
    align-self: flex-end; }
  .flexcardpadre {
    /* contenedor de las cards */
    display: flex;
    /* Asegura que los elementos .flexcardhijo estén uno al lado del otro */
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
    flex-direction: column; }
  .flexcardhijo img {
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    /* Establece el ancho al 100% del contenedor */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */ }
  .flexcardhijo {
    /* cards individuales */
    border: 2px rgba(4, 35, 29, 0.63) solid;
    border-radius: 10px;
    max-width: 400px;
    /* un ancho máximo */
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* sombra */
    display: flex;
    flex-direction: column; }
  .flexcardhijo p {
    padding: 10px; } }

@media screen and (max-width: 580px) {
  .flextitulo {
    /* titulo de seccion */
    color: #04231d;
    font-family: 'roboto';
    font: bold 300%;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* Permite que los elementos hijos se envuelvan */
    align-self: flex-end; }
  .flextitulo h4 a {
    text-decoration: none;
    color: #04231d;
    margin: 5px;
    font-size: medium; }
  .flexcardpadre {
    /* contenedor de las cards */
    display: flex;
    /* Asegura que los elementos .flexcardhijo estén uno al lado del otro */
    flex-direction: row;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */ }
  .flexcardhijo img {
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    /* Establece el ancho al 100% del contenedor */
    height: auto;
    /* Permite que la altura se ajuste automáticamente para mantener la proporción */ }
  .flexcardhijo {
    border: 2px rgba(4, 35, 29, 0.63) solid;
    border-radius: 10px;
    max-width: 400px;
    /* un ancho máximo */
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* sombra */
    display: flex;
    flex-direction: column;
    align-items: center; }
  .flexcardhijo p {
    padding: 10px; } }

@media screen and (max-width: 785px) {
  footer {
    background-color: #04231d;
    padding: 30px 30px;
    color: white;
    font-style: normal;
    margin: auto;
    /*para que se mantenga centrado*/
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  footer div p {
    padding: 10px 0px 10px 0px; }
  footer div {
    text-align: start; }
  footer div a {
    text-decoration: none;
    color: white;
    display: block;
    /* Convertir en bloque */
    padding: 10px 0px 10px 0px; }
  footer div a i {
    padding: 5px 5px 5px 0px; }
  footer div h3 {
    padding: 30px 0px 0px 0px; } }
