main {
    div {
        section {
            video {
                width: 100%;
                /* Ajusta el ancho de la imagen */
                height: 600%;
                /* Ajusta el alto de la imagen */

            }
        }
    }

    div {
        .flextitulo {
            /* titulo de seccion */
            color: rgb(4, 35, 29);
            font-family: 'roboto';
            font: bold 300%;
            margin: 10px;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            /* Permite que los elementos hijos se envuelvan */
            h2 {
                font-size: 40px;
                font-weight: bold;
            }

            h4 {
                a {
                    text-decoration: none;
                    color: rgb(4, 35, 29);
                    margin: 5px;
                }
            }
        }

        .flexcardpadre {
            /* contenedor de las cards */
            display: flex;
            /* Asegura que los elementos .flexcardhijo estén uno al lado del otro */
            justify-content: space-between;
            /* Distribuye los elementos horizontalmente */
            flex-wrap: wrap;

            /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
            .flexcardhijo {
                border: 2px rgba(4, 35, 29, 0.63) solid;
                border-radius: 10px;
                max-width: 400px;
                /* un ancho máximo */
                text-align: center;
                margin: 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                /* sombra */
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                img {
                    margin-bottom: 5px;
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                    /* Establece el ancho al 100% del contenedor */
                    height: auto;
                    /* Permite que la altura se ajuste automáticamente para mantener la proporción */

                }

                p {
                    padding: 10px;
                }
            }

        }
    }
}


