//!**MAIN DE INDEX**/
main {
    div {
        section {
            video {
                width: 100%;
                /* Ajusta el ancho de la imagen */
                height: auto;
                /* Ajusta el alto de la imagen */
            }
        }
    }

    div {
        .flextitulo {
            /* titulo de seccion */
            color: $color-principal;
            /*variable*/
            font-family: 'roboto';
            font-weight: bold;
            margin: 10px;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            /* Permite que los elementos hijos se envuelvan */
            h2 {
                font-size: 40px;
                font-weight: bold;
            }

            h4 {
                a {
                    text-decoration: none;
                    color: $color-principal;
                    /*variable*/
                    margin: 5px;
                }
            }
        }

        .flexcardpadre {
            /* Estilos para el contenedor de las tarjetas */
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            /* Estilos para las tarjetas */
            .flexcardhijo {
                /* Estilos generales de las tarjetas */
                border: 2px #04231da1 solid;
                border-radius: 10px;
                max-width: 400px;
                max-height: 600px;
                text-align: center;
                margin: 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                img {
                    margin-bottom: 5px;
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                    height: auto;
                }

                p {
                    padding: 10px;
                }
            }
        }
    }
}

//!**MAIN DE PROYECTOS**/

main {
    div {
        .flextituloproyecto {
            color: $color-principal;
            margin: 0 30px 20px 30px;
            padding: 20px;
            /* Espaciado interno */
            border-radius: 10px;
            text-align: center;
            max-width: 1000px;
            /* Ancho máximo */
            margin-left: auto;
            /* Margen izquierdo automático */
            margin-right: auto;
            /* Margen derecho automático */
        }

        .flexproyecto {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            /* Espacio entre las cards */
            margin: 30px;

            .card {
                background-color: #fff;
                /* Color de fondo de la card */
                border-radius: 10px;
                /* Borde redondeado */
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                /* Sombra */
                padding: 20px;
                /* Espaciado interno */
                width: calc(33.33% - 20px);

                /* Ancho de la card, calculado para que haya 3 cards por fila */
                /* Ajusta el ancho según la resolución de la pantalla */
                @media (max-width: 768px) {
                    width: calc(50% - 20px);
                    /* Ancho de la card */
                }

                @media (max-width: 480px) {
                    width: 100%;
                    /* Ancho de la card */
                }

                img {
                    width: 100%;
                    /* Imagen ocupa todo el ancho de la card */
                    border-radius: 10px;
                    /* Borde redondeado */
                }

                h5 {
                    margin-top: 10px;
                    /* Espaciado superior para el título */
                }

                p {
                    margin-top: 10px;
                    /* Espaciado superior para el párrafo */
                }
            }
        }
    }
}

//!**MAIN DE OTRO**/
main {
    section {
        .contenedor-otro {
            width: 90%;
            max-width: 1200px;
            overflow: hidden;
            margin: auto;
            padding: 60px 0;

            h2 {
                text-align: center;
                font-weight: 700;
                color: rgb(4, 35, 29);
                margin-bottom: 40px;
                font-size: 40px;
            }

            .contenedor-galeria-otro {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .img-galeria-otro {
                    object-fit: cover;
                    width: 30%;
                    margin-bottom: 15px;
                    box-shadow: 0 0 6px rgba(17, 17, 17, 0.5);
                    cursor: pointer;

                    &:hover {
                        transition: all 0.3s ease-in-out;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

//!**MAIN DE CONTACTO**/

//!**MAIN DE ABOUTME**/