//!**MAIN DE INDEX**/
main {
    div {
        section {
            video {
                width: 100%;
                /* Ajusta el ancho de la imagen */
                height: 600%;
                /* Ajusta el alto de la imagen */
            }
        }
    }

    div {
        .flextitulo {
            /* titulo de seccion */
            color: $color-principal;
            /*variable*/
            font-family: 'roboto';
            font-weight: bold;
            margin: 10px;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            /* Permite que los elementos hijos se envuelvan */
            h2 {
                font-size: 40px;
                font-weight: bold;
            }

            h4 {
                a {
                    text-decoration: none;
                    color: $color-principal;
                    /*variable*/
                    margin: 5px;
                }
            }
        }

        .flexcardpadre {
            /* Estilos para el contenedor de las tarjetas */
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            /* Estilos para las tarjetas */
            .flexcardhijo {
                /* Estilos generales de las tarjetas */
                border: 2px #04231da1 solid;
                border-radius: 10px;
                max-width: 400px;
                max-height: 600px;
                text-align: center;
                margin: 20px;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                img {
                    margin-bottom: 5px;
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                    height: auto;
                }

                p {
                    padding: 10px;
                }

                .tag-container {
                    margin-top: 10px;
                    padding-bottom: 10px;

                    .tag {
                        display: inline-block;
                        background-color: #18330d;
                        color: #ffffff;
                        padding: 5px 10px;
                        border-radius: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

//!**MAIN DE PROYECTOS**/

main {
    div {
        .flextituloproyecto {
            color: $color-principal;
            margin: 0 30px 20px 30px;
            padding: 20px;
            /* Espaciado interno */
            border-radius: 10px;
            text-align: center;
            max-width: 1000px;
            /* Ancho máximo */
            margin-left: auto;
            /* Margen izquierdo automático */
            margin-right: auto;
            /* Margen derecho automático */
        }

        .flexproyecto {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            /* Espacio entre las cards */
            margin: 30px;

            .card {
                background-color: #fff;
                /* Color de fondo de la card */
                border-radius: 10px;
                /* Borde redondeado */
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                /* Sombra */
                padding: 20px;
                /* Espaciado interno */
                width: calc(33.33% - 20px);

                /* Ancho de la card, calculado para que haya 3 cards por fila */
                /* Ajusta el ancho según la resolución de la pantalla */
                @media (max-width: 768px) {
                    width: calc(50% - 20px);
                    /* Ancho de la card */
                }

                @media (max-width: 480px) {
                    width: 100%;
                    /* Ancho de la card */
                }

                img {
                    width: 100%;
                    /* Imagen ocupa todo el ancho de la card */
                    border-radius: 10px;
                    /* Borde redondeado */
                }

                h5 {
                    margin-top: 10px;
                    /* Espaciado superior para el título */
                }

                p {
                    margin-top: 10px;
                    /* Espaciado superior para el párrafo */
                }
            }
        }
    }
}

//!**MAIN DE OTRO**/
main {
    section {
        .contenedor-otro {
            width: 90%;
            max-width: 1200px;
            overflow: hidden;
            margin: auto;
            padding: 60px 0;

            h2 {
                text-align: center;
                font-weight: 700;
                color: rgb(4, 35, 29);
                margin-bottom: 40px;
                font-size: 40px;
            }

            .contenedor-galeria-otro {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .img-galeria-otro {
                    object-fit: cover;
                    width: 30%;
                    margin-bottom: 15px;
                    box-shadow: 0 0 6px rgba(17, 17, 17, 0.5);
                    cursor: pointer;

                    &:hover {
                        transition: all 0.3s ease-in-out;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

//!**MAIN DE CONTACTO**/
main {
    margin: 10px;
    padding: 55px;
    color: $color-principal;

    .containerform {
        width: 900px;
        display: flex;
        flex-wrap: wrap;

        .feedback {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contact-form {
            width: 80%;
            /* Ajusta el ancho del formulario */
            padding-bottom: 30px;

            /* Espacio entre formulario y mapa */
            .form-group {
                margin: 15px 0px 15px 0px;

                .service-chips {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    /* Espacio entre los chips */
                }

                .service-chips label {
                    display: inline-block;
                    padding: 8px 16px;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    cursor: pointer;
                }

                .service-chips input[type="checkbox"] {
                    display: none;
                    /* Oculta los checkboxes */
                }

                .service-chips input[type="checkbox"]:checked+label {
                    background-color: $color-principal;
                    /* Color de fondo cuando se selecciona */
                    color: #185510;
                    /* Color del texto cuando se selecciona */
                }
            }

            .btn-enviar {
                background-color: $color-principal;
                /* Color de fondo del botón */
                color: #fff;
                /* Color del texto del botón */
                padding: 10px 20px;
                /* Ajusta el espacio interno del botón */
                margin-top: 20px;
                /* Ajusta el espacio externo del boton */
                border-radius: 5px;
                /* Añade bordes redondeados al botón */
                cursor: pointer;
                /* Cambia el cursor al pasar sobre el botón */
            }

            .btn-enviar:hover {
                background-color: #1e4707;
                /* Cambia el color de fondo al pasar sobre el botón */
            }
        }
    }

    iframe {
        width: 40%;
        /* Ajusta el ancho del mapa */
        height: 450px;
        /* Ajusta la altura del mapa */
        border: none;
        margin-top: 10px;
        /* Espacio superior del mapa */
    }
}




//!**MAIN DE ABOUTME**/