//***---cards index----*//
@media screen and (max-width:902px) {
    main .cardsindex .flextitulo {
        /* titulo de seccion */
        color: #04231d;
        /*variable*/
        font-family: 'roboto';
        font-weight: bold;
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    main .cardsindex .flextitulo h4 a {
        text-decoration: none;
        color: #04231d;
        /*variable*/
    }

    main .cardsindex .flexcardpadre .flexcardhijo {
        border: 2px #04231da1 solid;
        border-radius: 10px;
        width: 500px;
        height: 600px;
        text-align: center;
        margin: 10px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .cardsindex .flexcardpadre .flexcardhijo img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: auto;
    }

    main .cardsindex .flexcardpadre .flexcardhijo p {
        padding: 5px;
    }

    main .cardsindex .flexcardpadre .flexcardhijo .tag-container {
        padding: 5px;
    }

    main .cardsindex .flexcardpadre .flexcardhijo .tag-container .tag {
        display: inline-block;
        background-color: #18330d;
        color: #ffffff;
        padding: 6px;
        border-radius: 10px;
        margin: 5px;
    }
}


@media screen and (max-width:580px) {
    main .cardsindex {
        padding-left: 50px;
        padding-top: 30px;
    }

    main .cardsindex .flextitulo {
        color: #04231d;
        font-family: 'roboto';
        font-weight: bold;
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
    }

    main .cardsindex .flextitulo h2 {
        font-size: 25px;
        font-weight: bold;
    }

    main .cardsindex .flexcardpadre .flexcardhijo {
        border: 2px #04231da1 solid;
        border-radius: 10px;
        width: 500px;
        height: 600px;
        text-align: center;
        margin: 10px;
        /* espacio entre cada card */
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    main .cardsindex .flexcardpadre .flexcardhijo {
        border: 2px #04231da1 solid;
        border-radius: 10px;
        width: 500px;
        height: 600px;
        text-align: center;
        margin: 10px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    main .cardsindex .flexcardpadre .flexcardhijo img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: auto;
    }

    main .cardsindex .flexcardpadre .flexcardhijo h5 {
        margin: 5px;
    }

    main .cardsindex .flexcardpadre .flexcardhijo p {
        margin: 10px;
    }
}

//**---footer----*//

@media screen and (max-width: 785px) {
    footer {
        background-color: #04231d;
        padding: 30px;
        color: white;
        font-style: normal;
        
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        /* Centra el contenido horizontalmente */
    }

    .logofooter {
        max-width: 100%;
        /* Asegura que la imagen no supere el ancho del contenedor */
        align-self: center;
        /* Centra la imagen verticalmente */
    }

    footer div {
        margin-left: 20px;
    }


    footer div h3 {
        margin: 10px 0;
    }

    footer div p {
        margin: 0px;
    }

    footer div a {

        font-size: 0;
        /* Asegura que el espacio del texto se elimine */
        padding: 0;
    }

    footer div a i {
        /* Ajusta el tamaño del icono si es necesario */
        font-size: 20px;
        /* Esto es solo un ejemplo, puedes ajustarlo según tu diseño */
        margin-right: 5px;
    }

    footer div .social-icons {
        display: flex;
        justify-content: start;
        /* Centra los iconos horizontalmente */
        gap: 10px;
        /* Ajusta el espacio entre los iconos */
    }

    .fixed {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}

//!**MAIN DE PROYECTOS**/
/* Ancho de la card, calculado para que haya 3 cards por fila */
/* Ajusta el ancho según la resolución de la pantalla */
@media screen and (max-width: 768px) {
    main div .flexproyecto .card {
        width: calc(50% - 20px);
        /* Ancho de la card */
    }
}

@media screen and (max-width: 480px) {
    main div .flexproyecto .card {
        width: 100%;
        /* Ancho de la card */
    }
}

//!**MAIN DE CONTACTO**/
@media screen and (max-width: 1047px) {
    .maincontacto {
        flex-direction: column;
    }

    .maincontacto .containerform {
        width: 100%;
    }

    .maincontacto iframe {
        width: 100%;
        height: 300px; /* Ajusta este valor según sea necesario */
        margin: 20px 0; /* Ajusta el margen según sea necesario */
    }
}
@media screen and (max-width: 609px){
    .maincontacto{
        padding: 20px;
    }
    .maincontacto iframe {
        width: 100%;
        height: 300px; /* Ajusta este valor según sea necesario */
        margin: 20px 0; /* Ajusta el margen según sea necesario */
    }
}

@media screen and (max-width: 390px) {
        .maincontacto{
        padding: 60px;
    }
    .maincontacto iframe {
        display: none;
    }
}


//**---redes en el costado---*//
@media screen and (max-width: 587px){
    .social { //*!ESTO EN DONDE DEBERIA PONERLO?*/
        position: fixed;
        top: 450px;
        display: flex;
        flex-direction: column;
        z-index: 10;
    
        .social .redes {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin: 10px 20px 10px 10px;
            padding: 80px;
        }
    }
}